extends layout

block content 
    .single
        .single__hero
            img.single__image(src=`/uploads/${activity.photo || 'store.png'}`)
            h2.title.title--single
                a(href=`/acitivities/${activity.slug}`) #{activity.name}
    
    .single__details.inner
        img.single__map(src=h.staticMap(activity.location.coordinates))
        p.single__location= activity.location.address
        p= activity.description

        if activity.tags
            ul.tags 
                each tag in activity.tags
                    li.tag
                        a.tag__link(href=`/tags/${tag}`)
                            span.tag__text ##{tag}
